@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,regular,500,700,900");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC',sans-serif;
}
body{
    background-color: blue;
}
.wrap{
    margin: 0;
    font-family: 'Noto Sans TC',sans-serif;
}
/* clear */
.timeline::after{
    content: '';
    display: block;
    height: 0px;
    width: 100%;
    clear: both;
}
.timeline{
    padding: 30px 0 10px;
}
.timeline li{
    width: 50%;
    box-sizing: border-box;
    padding: 25px 0;
    position: relative;
}
.timeline li::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    z-index: 2;
}
.timeline li:nth-child(odd)::before{
    right: -10px;
}
.timeline li:nth-child(even)::before{
    left: -10px;
}
.timeline li:nth-child(odd){
    float: left;
    padding-right: 110px;
}
.timeline li:nth-child(even){
    float: right;
    padding-left: 110px;
    transform: translateY(50%)
}
.timeline li:nth-child(odd)::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #ccc;
    right: 0;
}
.timeline li:last-child::after{
    height: 50%;
}
.timeline a{
    display: block;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #aaa;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888;
    transition:.3s;
}
.timeline a:hover{
    background-color: black;
}
.timeline a:hover h2,
.timeline a:hover p{
    color: #fff;
}
.timeline h2{
    color:#000;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: 700;
}
.timeline h2::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: #aaa;
    top: 0;
    bottom: 0;
    margin: auto;  
}
.timeline li:nth-child(odd) h2::after{
    right: 0;
}
.timeline li:nth-child(even) h2::after{
    left: 0;
}
.timeline h2:nth-child(even)::after{
}
.timeline p{
    color: #666;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: 100;
}
